.container{
    border: solid black 1px;
    border-radius: 20px;
    text-align: center;
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
    height: 300px;
    background-color:snow
    
}

.title{
   padding: 10px;
}


.num{
    margin-top: 10%;
}

.btn1,.btn2{
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
}

.btn1{
    background-color: rgb(16, 209, 16);
}

.btn2{
    background-color: red;
    margin-left: 5px;
}